
.DS_Store
ios-uikit-uitextview-demo.xcodeproj/project.xcworkspace/xcuserdata/yogasa.xcuserdatad/UserInterfaceState.xcuserstate
*.xcscheme
ios-uikit-uitextview-demo.xcodeproj/xcuserdata/yogasa.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcscheme
